/*****************************************************
*  project: multilingual fonts switch               *
*  description: switch font when language changes    *
*  author: horans@gmail.com                          *
*  url: https://github.com/horans/multi-lang-fonts   *
*  update: 210408                                    *
*****************************************************/
body {
  font-family: 'Inter', var(--bs-font-sans-serif);
  /* system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' */
}
[lang='zh-Hans'] body {
  font-family: 'Noto Sans SC', var(--bs-font-sans-serif);
}
[lang='zh-Hant'] body {
  font-family: 'Noto Sans TC', var(--bs-font-sans-serif);
}
[lang='ja'] body {
  font-family: 'Noto Sans JP', var(--bs-font-sans-serif);
}
[lang='ko'] body {
  font-family: 'Noto Sans KR', var(--bs-font-sans-serif);
}
[lang='ar'] body {
  font-family: 'Tajawal', var(--bs-font-sans-serif);
}

small {
  color: var(--bs-gray);
  font-size: 0.75em;
}
